# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.firebase/
android/.kotlin/

# Firebase Functions
functions/node_modules/
functions/package-lock.json
functions/service-account-key.json
functions/*.key.json

# Secrets & Service Keys
serviceAccountKey.json
bootstrap_backend.py

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Secrets & Local Configurations
android/app/google-services.json
android/local.properties
lib/firebase_options.dart
*.keystore
*.jks
key.properties
